/* Fonts

font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Libre Caslon Display', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Spectral', serif;

*/


*{
    padding: 0;
    margin:0;
    list-style: none;
    text-decoration: none;
    
}

/* home page */

.mainpage{
    background-image: url("https://images.pexels.com/photos/4676369/pexels-photo-4676369.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}

/* how to help */

.howtohelppage{
    background-image: url("https://images.pexels.com/photos/4613911/pexels-photo-4613911.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

/* education */

.sectionals{
    background-color: white;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 1200px;
}

.imges{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
}
.ul{
    padding: 40px
}
.li{
    list-style-type: circle;
    font-family: 'Spectral', serif;
    max-width: 1000px;
    text-align: justify;
    

}

.sigpeopleh1{
    font-family: 'Libre Caslon Display', serif;
    padding: 20px;
    color: rgb(39, 38, 73);
}

.educatepage{
    background-image: url("https://images.pexels.com/photos/4613884/pexels-photo-4613884.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    /* source: pexels.com*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

/* events and locations*/

.sigeventpage{
    background-image: url("https://cdn.britannica.com/88/136088-050-17171BF5/Pres-Lyndon-B-Johnson-others-Martin-Luther-July-2-1964.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

/* peoples */
.sigpeoplepage{
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/black-history-month-1548883002.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

/* why page */
.whypage{
    background-image: url("https://images.pexels.com/photos/4613880/pexels-photo-4613880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

/* nav bar */


pre{
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    font-weight: 700px;
    font-size: 40px;
    padding: 200px, 100px;
    line-height: 100px;
    margin-left: 100px;
    display: inline-block;
}

nav{
    background-color: #000000;
    height: 100px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 30px;
}

nav ul li{
    float: left;
    position: relative;
}

nav ul li a{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    height: 100%;
    padding: 37px;
    display: block;
    transition: 400ms;
}
   
 nav ul li ul{
     display: none;
     position: absolute;
     background-color: black;
 }

 nav ul li:hover ul {
    display: block;  
}

a.hoverer:hover{
    background-color: #ffffff ;
    height: 100%;
    transform: scale(1.05);
    color: black;
}

 nav ul li ul li a{
    display: block;
    background-color: black;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 17px;
    text-align: left; 
}

nav ul li ul li a:hover{
    background-color: white;
    color: black;
}

.active{
    background-color: #1b1b22;
} 
